html, body{
    height: 100%;
}

header{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    background-color: #5F7AB3;
}

main{
    display: flex;
    height: 100%;
    flex-direction: column;
}

div{
    display: flex;
    height: 100%;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 5rem;
}

li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    color: #C0CDE8;
}

a{
    display: flex;
    margin: 1rem;
    border: .1rem solid #789AE3;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: .5rem;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

img{
    width: 7rem;
    height: 7rem;
    display: flex;
}

.etc{
    width: 11.5rem;
    height: 11.5rem;
}

h1{
    color: white;
    padding: 2rem;
}

body{
    font-family: 'Source Serif Pro', serif;
}

.voltar{
    display: flex;
    border: 0;
    left: 0;
    width: 5rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 1.5rem;
}

.imagem{
    width: 5rem;
    height: 5rem;
}

.hidden{
    display: none;
}

.x{
    height: 13rem;
    width: 13rem;
}

.dir{
    display: flex;
    flex-direction: column;
    align-items: center;
}
